<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Line Graph</title>
    <link rel="stylesheet" href="/CSS/output.css">
</head>

<body class="bg-[#111827]">
    <% if (locals.names) { %>
        <div class="w-screen flex flex-col items-center justify-center gap-5 px-20 py-10">
            <label for="tankers" class="block mb-2 text-sm font-medium text-white">
                Choose a tanker
            </label>
            <select name="tankers" id="tankers"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-96 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <% names.forEach(name=> { %>
                    <option value="none" selected disabled hidden>Select a Tanker</option>
                    <option value=<%=name.tanker_id%>><%=name.tanker_id%>
                    </option>
                    <% }) %>
            </select>
            <button
                class="rounded-md bg-blue-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-blue-700 focus:shadow-none active:bg-blue-700 hover:bg-blue-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
                type="button" id="select">
                Select
            </button>
        </div>
        <% } %>
            <div>
                <canvas id="myChart" width="400" height="100" aria-label="Graph for fuel" role="img">
                    <p>Your browser does not support graphs</p>
                </canvas>
            </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/dist/bundle.js"></script>

</html>