<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JBR | Widgets</title>
    <link rel="shortcut icon" href="/Images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/output.css">
    <!-- Load map CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css"
        integrity="sha512-Zcn6bjR/8RZbLEpLIeOwNtzREBAJnUKESxces60Mpoj+2okopSAcSUIUOseddDm0cxnGQzxIR7vJgsLZbdLE3w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-gray-900">
    <%- include('includes/navbar.ejs') %>
        <main class="flex flex-col gap-5 py-10 relative">
            <% if (locals.names) { %>
                <div class="flex flex-col items-center justify-center gap-5 px-10">
                    <label for="tankers" class="block mb-2 text-sm font-medium text-white text-center">
                        Choose a tanker
                    </label>
                    <select name="tankers" id="tankers"
                        class="border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[90vw] md:w-96 p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white">
                        <option value="none" selected disabled hidden>Select a Tanker</option>
                        <% names.forEach(name=> { %>
                            <option value=<%=name.number_plate%>><%=name.number_plate%>
                            </option>
                            <% }) %>
                    </select>
                    <select name="range" id="range"
                        class="border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[90vw] md:w-96 p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white">
                        <option value="day" selected>Last Day</option>
                        <option value="week">Last Week</option>
                        <option value="month">Last Month</option>
                        <option value="year">Last Year</option>
                    </select>
                    <button
                        class="rounded-md bg-blue-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-blue-700 focus:shadow-none active:bg-blue-700 hover:bg-blue-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
                        type="button" id="select">
                        Select
                    </button>
                </div>
                <% } %>
                    <section class="widgets flex lg:flex-row gap-2 flex-col w-auto mx-auto">
                        <div class="bg-white hidden widget lg:w-[49vw] lg:h-[60vh] w-[90vw] h-[50vh]">
                            <canvas id="myChart" aria-label="Graph for fuel" role="img">
                                <p>Your browser does not support graphs</p>
                            </canvas>
                        </div>
                        <div class="hidden widget lg:w-[49vw] lg:h-[60vh] w-[90vw] h-[50vh]">
                            <div id="map" style="width: 100%; height: 100%;"></div>
                        </div>
                    </section>
                    <section class="modal absolute top-2 left-1/2 -translate-x-1/2 hidden">
                        <div class="flex items-center h-16 border border-red-500 pr-4 w-[90vw] sm:w-auto shadow-lg bg-white">
                            <div class="flex items-center justify-center bg-red-100 w-12 h-full">
                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="red">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </div>
                            <div class="px-6">
                                <h5 class="font-semibold status_alert_heading  text-red-500"></h5>
                                <p class="text-sm status_text"></p>
                            </div>
                            <button class="ml-auto close">
                                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                    fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                    </section>
        </main>
</body>
<!-- 1. Load socket client -->
<script src="/socket.io/socket.io.js"></script>
<!-- 1. Load Leaflet library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"
    integrity="sha512-puJW3E/qXDqYp9IfhAI54BJEaWIfloJ7JWs7OeD5i6ruC9JZL1gERT1wjtwXFlh7CjE7ZJ+/vcRZRkIYIb6p4g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- 1. Load Chart.js core library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js" crossorigin="anonymous"></script>
<!-- 2. Load Luxon library for date manipulation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/1.27.0/luxon.min.js" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
<!-- 3. Load Chart.js Luxon adapter -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.3.1/dist/chartjs-adapter-luxon.umd.min.js"
    crossorigin="anonymous"></script>
<!-- 4. Load Chart.js Streaming Plugin -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming"></script>
<!-- 5. Load Hammer.js (dependency for zooming) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
<!-- 6. Load Chart.js Zoom Plugin -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>


<script src="/dist/bundle.js"></script>


</html>